h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

img {
    width: 350px;
    height: 300px;
    border-radius: 5%;
}

div {
    display: flex;
    justify-content: center;
    border-radius: 5%;
}

#reset {
    font-size: 20px;
    text-align: center;
}