

@font-face {
    font-family: 'jurassic_parkregular';
    src: url('jurassicpark-bl48-webfont.woff2') format('woff2'),
         url('jurassicpark-bl48-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



html { 
    background: url(https://i.imgur.com/YH4Ghxf.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

h1 {
    font-family: 'jurassic_parkregular';
    font-size: 200px;
    font-weight: lighter;
    letter-spacing: 15px;
    margin-top: 25px;
    margin-bottom: 10px;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 50px;
}

p {
    color: darkolivegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: 2px;
    height: 150px;
    width: 500px;
    text-align: center;
    background-color: rgb(169, 169, 169, .8);
    padding-top: 30px;
    margin-top: 20px;
    border-radius: 5%;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 


.dino {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'jurassic_parkregular';
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: lighter;
}

.choice {
    display: flex;
    flex-direction: row;
}

#start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; 
    width: 30vh;
    font-size: 5vh;
    letter-spacing: 5px;
    text-align: center;
    background-color: darkolivegreen;
    border: 5px solid black;
    border-radius: 4%;
}



#next {
    display: flex;
    font-size: 5vh;
    letter-spacing: 5px;
    height: 10vh;
    width: 30vh;
    text-align: center;
    background-color: darkolivegreen;
    border: 5px solid black;
    border-radius: 4%;
    
} 

#submit {
    display: flex;
    font-size: 5vh;
    letter-spacing: 5px;
    height: 10vh;
    width: 30vh;
    text-align: center;
    background-color: darkolivegreen;
    border: 5px solid black;
    border-radius: 4%;
    
}


#answers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 600px;
    padding-top: 25px;
    margin-left: 325px;
    font-family: 'jurassic_parkregular';
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    background-color: darkolivegreen;
    border: 5px solid black;
    border-radius: 4%;
    
}

#replay {
    display: flex;
    font-size: 5vh;
    letter-spacing: 5px;
    height: 10vh;
    width: 30vh;
    margin-bottom: 50px;
    text-align: center;
    background-color: #e835a0;
    border: 5px solid #000000;
    border-radius: 4%;
    
}

#endImg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;

}


img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 550px;
}


button:hover {
    opacity: 0.7;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

input[type='radio'] {
    display: flex;
    align-items: left;

}