h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}
img {
    width: 350px;
    height: 300px;
}

/* #bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    min-width: 100%;
    min-height: 100%;
    opacity: .5;
  } */

p {
    text-align: center;
}

/* #home {

} */

#quiz {
    display: none;
}

/* .questions {
    display: none;
} */

#start {
    font-size: 20px;
    text-align: center;
}